body{
font-family: Arial;
margin:0;
color:white;

background: linear-gradient(-45deg, #0f172a, #020617, #1e293b, #020617);
background-size: 400% 400%;
animation: gradientBG 10s ease infinite;
}

header{
background:#020617;
padding:40px;
text-align:center;
}

nav{
background:#111827;
padding:10px;
text-align:center;
}

nav a{
color:#38bdf8;
margin:15px;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px;
}

h2{
color:#38bdf8;
}

.card{
background:#1e293b;
padding:20px;
margin:20px 0;
border-radius:8px;
}

footer{
background:#020617;
text-align:center;
padding:20px;
}

@keyframes gradientBG {

0%{
background-position: 0% 50%;
}

50%{
background-position: 100% 50%;
}

100%{
background-position: 0% 50%;
}

}

h1{
color:#38bdf8;
text-shadow:
0 0 5px #38bdf8,
0 0 10px #38bdf8,
0 0 20px #38bdf8,
0 0 40px #0ea5e9,
0 0 80px #0ea5e9;
}

nav a{
color:#38bdf8;
text-decoration:none;
margin:15px;
font-weight:bold;
}

h2{
color:#38bdf8;
text-shadow:
0 0 5px #38bdf8,
0 0 10px #38bdf8,
0 0 20px #38bdf8;
}

nav a:hover{
text-shadow:
0 0 5px #38bdf8,
0 0 10px #38bdf8,
0 0 20px #38bdf8;
}
